.quizverse-navbar {
  background-color: 	#191970!important; /* Purple color */
  border: none !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.quizverse-navbar .item {
  color: white !important;
  font-weight: bold;
}
